<% layout('../_layout') -%>

<table class="table">
    <thead>
        <tr>
            <th>Questão</th>
            <th width="5%"></th>
            <th width="5%"></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i< model.length; i++) {%>
            <tr>
                <td><%= model[i].descricao %></td>
                <td><a type="button" class="btn btn-success" href="/questoes/<%= model[i].id %>">Editar</a></td>
                <td><a type="button" class="btn btn-danger" onclick="excluir(<%= model[i].id %>)">Excluir</a></td>
            </tr> 
            <tr>
                <td class="details" colspan="8">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>Resposta</th>
                            <th>Correta?</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% for(var j=0; j < model[i].respostas.length; j++) {%>
                                <tr>
                                    <td><%= model[i].respostas[j].descricao %></td>
                                    <td><%= model[i].respostas[j].correta ? 'SIM' : 'NÃO' %></td>
                                </tr>
                            <% } %>  
                        </tbody>
                    </table>
                </td>
            </tr>
        <% } %>   
    </tbody>
</table>